@media only screen and (min-width: 48rem) {
    .l-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
}
@media only screen and (max-width: 1000px) {
    .l-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 48rem) {
    .l-grid.centered {
        justify-content: space-around;
    }
}
.m-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 40px;
}
.m-pagination__text {
    display: inline-block;
    color: var(--titles-color);
    letter-spacing: 0.2px;
    text-align: center;
    font-size: 0.875rem;
}
@media only screen and (min-width: 48rem) {
    .m-pagination__text {
        letter-spacing: 0.3px;
        font-size: 1rem;
    }
}
